.main-container {
    width: 1280px;
    font-family: 'Myriad Pro', sans-serif;
    padding: 10px;
    /*    border: 2px solid red;*/
}

.logo-link {
    display: block;
    text-decoration: none;
    width: 350px;
}

.logo {
    color: #000000;
    font-size: 80px;
}

span {
    color: #4bcaff;
    font-size: 80px;
    text-align: center;
}

.items {
    list-style-type: none;
    padding: 20px 15px 10px 15px;
    cursor: pointer;
}

.links {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}

.header-menu {
    display: flex;
    justify-content: center;
    background-color: #35444f;
    height: 69px;
    margin: 45px auto 51px auto;
}

.items:hover {
    background-color: #222f3a;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.side-menu_links {
    list-style-type: none;
    text-decoration: none;
    color: #495863;
    font-size: 27px;

}

.side-menu {
    width: 335px;
    max-height: 286px;
    border: 1px solid black;
    margin-right: 52px;
}

.menu-points {
    padding: 15px;
    cursor: pointer;
}

.menu-points:hover {
    color: #000000;
    background-color: #dcdcdc;
    padding-left: 20px;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: space-between;
}

section {
    width: 40%;
}

.for-image {
    border: 1px solid black;
}

.goat {
    display: block;
    margin: 75px auto;
}

.description {
    color: #2c2b2b;
    font-size: 18px;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #b5b8bb;

}

.footer-menu {
    display: flex;
    justify-content: space-around;
}

.footer-menu-links {
    text-decoration: none;
    color: #0c1927;
    font-size: 28px;
}

.footer-items {
    list-style-type: none;
    padding: 15px;
}

.footer-copyright {
    color: #010000;
    font-size: 24px;
    margin-right: 15px;
}

footer {
    margin-top: 50px;
}

.footer-menu-links:hover {
    color: #2e82a7;
    text-decoration: underline;
}
