.first {
    border: 2px solid green;
    display: inline-flex;
    position: relative;

}

.second {
    display: inline-flex;
    border: 2px solid green;
    position: relative;
}

.third {
    border: 2px solid green;
    display: inline-flex;
    position: relative;
}

.fourth {
    border: 2px solid green;
    display: inline-flex;
    position: relative;
}





.cont {
    width: 380px;
    flex-wrap: wrap;
    border: 2px solid yellow;
}

.hovered {
    transition: 0.4s;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top:0;
}


.second:hover .hovered {
    opacity: 1;
}
