table {
    max-width: 553px;
    max-height: 680px;
    border-collapse: collapse;
    /*border: 1px solid black;*/
    font-family: "Arimo", sans-serif;
    margin: 20px;
}

td {
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    padding: 20px 0px;
    color: #484848;
    font-size: 16px;
    font-weight: 400;
}

.standart-plan {
    background-color: rgb(137, 195, 49);
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 27px 83px;

}

.ultimate-plan {
    background-color: rgb(223, 58, 70);
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 27px 83px;
}


.premium-plan {
    background-color: rgb(32, 128, 124);
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 27px 83px;

}

.choose_plan {
    color: #484848;
    font-size: 18px;
    font-weight: 700;
    width: 310px;
    height: 156px;

}

span {
    font-size: 30px;
}

button {
    width: 192px;
    height: 49px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: 'Arimo', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}


.button-table_data {
    padding: 20px 25px;
}

sup {
    font-size: 24px;
    vertical-align: text-top;
}

sub {
    font-size: 18px;
    font-weight: 400;
    vertical-align: text-bottom;
}

.price-value {
    color: #484848;
    font-size: 60px;
    font-weight: 700;

}

.price:nth-child(1) {
    border-left: 2px solid rgb(234, 234, 234);
    border-right: 2px solid rgb(234, 234, 234);

}

.price:nth-child(2) {
    border-left: 2px solid rgb(234, 234, 234);
    border-right: 2px solid rgb(234, 234, 234);
}

.storage_volume:nth-child(2) {
    border-left: 2px solid rgb(234, 234, 234);
    border-right: 2px solid rgb(234, 234, 234);
}

.storage_volume:nth-child(3) {
    border-right: 2px solid rgb(234, 234, 234);
}

.limited {
    border-left: 2px solid rgb(234, 234, 234);
    border-right: 2px solid rgb(234, 234, 234);
}

.email:nth-child(2) {
    border-left: 2px solid rgb(234, 234, 234);
    border-right: 2px solid rgb(234, 234, 234);
}

.email:nth-child(3) {
    border-left: 2px solid rgb(234, 234, 234);
    border-right: 2px solid rgb(234, 234, 234);
}

.non-stop-support {
    border-left: 2px solid rgb(234, 234, 234);
}

.products:nth-child(2) {
    border-left: 2px solid rgb(234, 234, 234);
    border-right: 2px solid rgb(234, 234, 234);
}

.products:nth-child(3) {
    border-right: 2px solid rgb(234, 234, 234);
}

.users:nth-child(2) {
    border-left: 2px solid rgb(234, 234, 234);
    border-right: 2px solid rgb(234, 234, 234);
}

.users:nth-child(3) {
    border-right: 2px solid rgb(234, 234, 234);
}

.button-table_data:nth-child(2) {
    border-left: 2px solid rgb(234, 234, 234);
    border-right: 2px solid rgb(234, 234, 234);
}

.button-table_data:nth-child(3) {
    border-right: 2px solid rgb(234, 234, 234);
}

tr:nth-child(n+3):nth-child(odd) {
    background-color: #e3e3e3;
}

tr:nth-child(n+3):nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(-n+2) {
    background-color: #fafafa;
}

button:hover {
   opacity: 0.7;
}
i {
    margin-right: 10px;
}