header {
    max-height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    max-height: 54px;
    border: 1px solid red;
}

.the_name {
    padding: 10px;
    margin-left: 51px;
    margin-right: 100px;
    box-sizing: border-box;
    max-width: 20%;
    border: 1px solid green;
}

.main {
    max-width: 1366px;
    height: 768px;
    background-image: url(../img/rana-sawalha-364253-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 300px;
    text-align: center;
    border: 1px solid green;
}

.nav-calendar {
    width: 19px;
    height: 19px;
    background: url('../img/css_sprites.png') -10px -50px;
    padding-right: 14px;
    border: 1px solid green;
}

.nav-forum {
    width: 28px;
    height: 20px;
    background: url('../img/css_sprites.png') -10px -10px;
    padding-left: 14px;
    border: 1px solid green;
}

.nav-navigator {
    width: 20px;
    height: 20px;
    background: url('../img/css_sprites.png') -58px -10px;
    padding-left: 14px;
    border: 1px solid green;
}

.log_in {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 17px 10px 10px 10px;
    border: 1px solid green;
    margin-right: 75px;

}


.modalForm {
    height: 540px;
    width: 444px;
    padding: 50px;
    margin: 50px auto;
    position: relative;
    border-radius: 5px;
    background-color: white;

}

.signUp {
    font-family: 'Verdana', sans-serif;
    color: #434343;
    font-size: 20px;
    font-weight: 400;

}

.logIn {
    font-family: 'Verdana', sans-serif;
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;
}

.modalForm::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: rgb(60, 184, 120);
    position: absolute;
    left: 0;
}

.socialAuth {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.socialAuthButtonsWrap {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.facebook-button {
    background-color: #305db8;

}

button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 157px;
    height: 46px;
}

.google-button {
    background-color: rgb(224, 72, 47);
}

.socialAuth-buttons:first-child {
    padding-right: 3px;
}

.socialAuth-buttons:last-child {
    padding-left: 3px;
}

.description {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;

}

.buttonIcon {
    margin-right: 20px;
}

.socialAuth-separator {
    position: relative;
    padding: 12px 0;
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid #d5dee7;
}

.or_separator {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    background: white;
    font-family: 'Verdana', sans-serif;
    color: #848484;
    font-size: 14px;
    font-weight: 400;

}

.manageAuth {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.submit-field {
    width: 100%;
    height: 46px;
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    background-color: rgb(47, 155, 101);
    color: white;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    cursor: pointer;

}

input:not(.submit-field) {
    border-style: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 5px;
    padding: 18px 185px 18px 18px;
    font-family: 'Verdana', sans-serif;
    color: #bebebe;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
}

.termsAndConditions {
    margin: 8px;
    font-family: 'Verdana', sans-serif;
    color: #434343;
    font-size: 14px;
    font-weight: 400;

}

.terms {
    font-family: 'Verdana', sans-serif;
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;

}

header {
    display: flex;
}

.the_name_link {
    text-decoration: none;
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: space-between;
}

.log-in_sign-up {
    font-family: 'Verdana', sans-serif;
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;
    transition: text-decoration-line 5s linear;

}

.the_name_link:hover {
    color: #3cb878;
}

.log-in_sign-up:hover {
    text-decoration-line: underline;
}

.log-in-links {
    text-decoration: none;
}

input:not(.submit-field):focus {
    outline: 0;
    outline-offset: 0;
    color: #434343;
    font-weight: bolder;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}
