.main-container {
    width: 1280px;
    padding-top: 10px;
}

.top-menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
/*    border: 2px solid red;*/

}

.menu-link {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    color: #16a085;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;


}

.menu-items {
    margin: 20px 30px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #373737;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin: 56px 0px 34px 0px;

}

.description {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #373737;
    font-size: 16px;
    font-weight: 700;
}

.button_to_start {
    display: block;
    width: 192px;
    height: 51px;
    background-color: rgb(22, 160, 133);
    border-radius: 3px;
    font-family: 'GothamRounded', sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin: 34px auto 0px auto;

}

.main {
    background-color: #f5f6f7;
    padding-bottom: 30px;

}

.footer-copyright {
    margin: 45px 100px 45px auto;
    font-family: 'Roboto', sans-serif;
    color: #373737;
    font-size: 16px;
    font-weight: 900;
    text-align: right;
}
